# Configurações de API
GOOGLE_API_KEY=sua_chave_do_gemini_aqui
SUPABASE_URL="https://seu-projeto.supabase.co"
SUPABASE_KEY="sua-chave-anon-aqui"
PINECONE_API_KEY="sua_chave_pinecone_aqui"
SUPABASE_DB_URL="postgresql://postgres.[REF_DO_SEU_PROJETO]:[SUA_SENHA_DO_BANCO]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres"