pandas
streamlit
plotly
langchain
langchain-core
langchain-google-genai
langchain-chroma
langchain-community
langchain-text-splitters
langgraph
google-genai
chromadb
python-dotenv
openpyxl
typing-extensions
langchain-pinecone
pinecone-client
numpy
supabase